.trust{
    display: flex;
    margin: 100px 0;
}
.trust-1{
    font-size: 30px;;
    font-weight: 600;
}
.trust-img{
    width: 100%;
}
.learn{
    font-size: 15px;
}
.learn:hover{
    color: gold;
}
.diff{
    background-color: #1111;
    display: flex;
    flex-direction: column-reverse;
    margin: 40px 0;
    height: 600px;
    justify-content: space-between;
    width: 80%;
    border-radius: 20px;
    padding: 0 12px;
}
.diff-img{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.paynfts{
    width: 100%
}
.diff-head{
    font-weight: 600;
}
.diff-text{
    font-size: 15px;
}
